# Entorno virtual
venv/
.venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# Otros
.env
.env.local
.env.*.local"__pycache__/" 
.env.bak